body {
  background-color: lightblue;
  margin-left: 1em;
  margin-right: 1em;
  cursor: url('https://spng.pngfind.com/pngs/s/102-1027597_middle-finger-cursor-png-transparent-png.png'), auto;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: green;
  font-weight: lighter;
  font-size: 4em;
  margin-block-end: 0em;
}

h2 {
  color: green;
  font-weight: lighter;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: green;
  font-size: 1em;
  font-style: italic;
}

.gallery {
  display: block;
  margin-top: 5em;
  margin-bottom: 5em;
}

.gallery img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery p {
  text-align: center;
}

.caption {
  font-size: 0.8em;
  font-style: italic;
}

/* Add a black background color to the top navigation */
/* https://www.w3schools.com/css/css_navbar.asp */
.navbar {
  background-color: rgb(84, 18, 87);
  overflow: hidden;
  border: solid;
  border-color: white;
  border-radius: 1em;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* secret link invisible at first */
#secret{
  opacity: 0;
  font-style: italic;
  color: plum;
}

/* https://www.w3schools.com/howto/howto_css_center-list.asp */
#listcontainer {
  text-align: center;
}
ul{
  display: inline-block;
  text-align: left;
}

footer {
  text-align: center;
}

/* secret link un-invisibles when you hover over about me */
/* https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */
.navbar a:hover + #secret {
  opacity: 1;
}

#secretheader {
  font-style: italic;
  color: plum;
}

#customcursor {
  cursor: url('/images/output-onlinepngtools.png'), help;
}

/* CSS animations to make background go crazy */
/* https://www.w3schools.com/css/css3_animations.asp */
#secretpage {
  background-color: green;
  animation-name: secretanimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes secretanimation {
  from {background-color: green;}
  to {background-color: purple;}
}


/* Rotate flat earth when you hover over it */
/* https://www.w3schools.com/css/css3_2dtransforms.asp */
#flatearth:hover {
  animation-name: flatearthanimation;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes flatearthanimation {
  from {transform: rotateX(0deg);}
  to {transform: rotateX(360deg);}
}